<%= form_for @project, :html => {:multipart => true } do |f| %>
	<div class="text-box">
	<% if @project.errors.any? %>
	<h2><%= pluralize(@project.errors.count, "error") %> Prevented file from uploading:</h2>
	<ul>
		<% @project.errors.full_messages.each do |msg| %>
			<li><%= msg %></li>
		<% end %>
	</ul>
	<% end %>

	<%= f.label :section %><br>
	<%= f.text_field :section, :class => 'form-box' , :class => 'form-box' , :class => 'form-box' , :class => 'form-box'  %><br>
	<br>
	<%= f.label :title %><br>
	<%= f.text_field :title, :class => 'form-box' , :class => 'form-box' , :class => 'form-box'  %><br>
	<br>
	<%= f.label :description %><br>
	<%= f.text_area :description, :class => 'form-box' , :class => 'form-description-box'  %><br>
	<br>
	<%= f.label :source %><br>
	<%= f.file_field :source, :class => 'form-box'  %><br>
	<br>
	<%= f.submit %>
	</div>
<% end %>