<div class="container">	
	<% @fileuploads.each_slice(3) do |slice| %>
		<div class="row">
			<% slice.each do |fileupload| %>
				
				<div class="col-md-4 text-box">
					<br><br>
					<h3><%= project.section %></h3>

					<br><br>

					<div><%= project.title %></div>

					<br>

					<div><%= project.description %></div>

					<br>

					<div class="btn btn-warning"><%= project.source %></div>

					<br>

					<div><%= project.bin %></div>

					<br>

					<%= link_to "Edit file", edit_project_path(project) %>

					<%= link_to "Delete", project_path(project), method: :delete, data: { confirm: "Are you sure you wish to delete this post?"} %>
				</div>

			<% end -%>
		</div>
	<% end -%>
</div>



<br><br><br><br><br>


