
<% if user_signed_in? %>
    <div align="center">
      <%= link_to "New post", new_post_path(@post), class: "btn-warning" %>
    </div>
<% end %>

<% backgrounds = ["backgroundpost1.png","backgroundpost2.png","backgroundpost3.png"] %>

<div class="cards col-10-home">

    <% @posts.each_with_index do |post, idx| %>
      <div class="card">

        <div class="card-image">
          <%= image_tag(backgrounds[idx % 3], :alt => "") %>
          <!--<img url="background2.jpg" alt="">-->
        </div>

        <div class="card-header">
          <%= post.title %>
        </div>

        <div align="Right" style="margin-right:25px;">
        <p> <%= post.created_at.strftime('%I:%M %p, %b %d ,%Y') %></p>
        </div>

        <div class="card-copy">
          <%= markdown post.body %>
        </div>

      </div>

      <div align="center">
        <%= link_to "View full post.", post, class: "btn-warning" %>
        <% if user_signed_in? %>
            <%= link_to "Edit Post", edit_post_path(post), class: "btn-warning" %>
            <%= link_to "Delete", post_path(post), method: :delete, data: { confirm: "Are you sure you wish to delete this post?"}, class: "btn-warning" %>
        <% end %>
      </div>
    <% end %>


</div>

