
<% backgrounds = ["backgroundpost1.png","backgroundpost2.png","backgroundpost3.png"] %>

<% @posts.each_with_index do |post, idx| %>

  <div class="ui purple fluid card">

    <div class="image">
      <%= image_tag(backgrounds[idx % 3], :alt => "") %>
      <!--<img url="background2.jpg" alt="">-->
    </div>

    <div class="content">
      <div class="center aligned header"><%= post.title %></div>
      <div class="left aligned description">
        <%= post.body %>
      </div>
    </div>

    <div class="extra content">
      <div class="left floated">
        <%= link_to "View full post.", post, class: "ui inverted violet button" %>
        <% if user_signed_in? %>
            <%= link_to "Edit Post", edit_post_path(post), class: "ui inverted violet button" %>
            <%= link_to "Delete", post_path(post), method: :delete, data: { confirm: "Are you sure you wish to delete this post?"}, class: "ui inverted violet button" %>
        <% end %>
      </div>

      <span class="right floated">
        <%= post.created_at.strftime('%I:%M %p, %b %d ,%Y') %>
      </span>
    </div>
  </div>

  

<% end %>


