<div class="text-box">
	<h1><%= @post.title %></h1>
	<p> <%= @post.created_at.strftime('%A, %B, %d') %></p>

	<%= markdown @post.body %>

	<% if user_signed_in? %>
		<%= link_to "Edit Post", edit_post_path(@post) %>
		<%= link_to "Delete", post_path(@post), method: :delete, data: { confirm: "Are you sure you wish to delete this post?"} %>
	<% end %>

</div>