<%= form_for @post do |f| %>
	<% if @post.errors.any? %>
	<h2><%= pluralize(@post.errors.count, "error") %> Prevented this post from saving:</h2>
	<ul>
		<% @post.errors.full_messages.each do |msg| %>
			<li><%= msg %></li>
		<% end %>
	</ul>
	<% end %>

  <%= f.label :title, :class => 'text-box' %><br>
  <%= f.text_field :title, :class => 'form-box' %><br>

  <%= f.label :body, :class => 'text-box' %><br>
  <%= f.text_area :body, :class => 'form-description-box'  %><br>


	<%= f.submit 'Post', class: "btn-warning" %>
<% end %>