
	
<div class="container">
	<div class="row">
		<div class="col-lg-12 text-box">
			<div class="col-lg-3 text-box">
				<p>
					Welcome to Nonlinear Logic; a website created to showcase some of my web design and programming skills.

				</p>

				<p style="color:#2d7eff">
					There will be a sidebar here eventually.
				</p>

				<br><br><br>
			</div>
			<div class="col-lg-9 text-box">
				<h1 class="text-box" align="center" style="color:#2d7eff">Programming, Mathematics, Science and other nerdery.</h1> <h3 align="right" style="color:#2d7eff"> by Brian Durbin</h2>
				<!--blog here -->

				<% @posts.each do |post| %>
					<h2> <%= post.title %> </h2>
					<p> <%= post.created_at.strftime('%A, %B, %d') %></p>
					<div><%= truncate(post.body, :length => 1024) %></div>
					<br>
					<%= link_to "View full post.", post %>
				<% end %>

				<%= will_paginate @posts %>
			</div>
		</div>
			
	</div>
</div>