
<div class="col-md-4 wrapper-text-field">

	<%= @fileupload.section %>

	<br><br>

	<h1><%= @fileupload.title %></h1>

	<br><br>

	<%= @fileupload.description %>

	<br><br>

	<%= link_to "View source", fileupload.source_url, class: "btn btn-warning" %>

	<br><br>
	</div>

	<%= link_to "Edit file", edit_fileupload_path(@fileupload) %>

	<%= link_to "Delete", fileupload_path(@fileupload), method: :delete, data: { confirm: "Are you sure you wish to delete this post?"} %>
	
</div>