<section>

	<h1><%= @fileupload.title  %></h1>

	<br><br>

	<%= @fileupload.description %>

	<br><br>

  <% unless @fileupload.source_url.nil? %>
	  <%= link_to "View source", @fileupload.source_url.to_s, class: "btn-warning" %>
  <% end %>


	<br><br>

	<% if user_signed_in? %>
		<%= link_to "Edit file", edit_fileupload_path(@fileupload), class: "btn-warning" %>
		<%= link_to "Delete", fileupload_path(@fileupload), method: :delete, data: { confirm: "Are you sure you wish to delete this post?"}, class: "btn-warning" %>
	<% end %>
	
</section>