<div class="ui container">
      
  <div class="ui inverted segment">
    <h1 class="ui large centered inverted violet header">Stuff I have made.</h1>
    <br>
    <h3 class="ui floated small inverted violet header" > by Bree Durbin </h3>
    <% if user_signed_in? %>
      <div class="floated" align="right">
        <% if user_signed_in? %>
          <%= link_to "New File Upload", new_fileupload_path(@fileupload), class: "ui inverted violet button" %>
          <%= link_to "New Language ", new_language_path(@languages), class: "ui inverted violet button" %>
        <% end %>
      </div>
    <% end %>
  </div>

  <div class="ui three cards">

  <% @fileuploads.each do |fileupload| -%>

  <div class="purple card">

    <div class="content">
      <div class="center aligned header"><%= fileupload.title %></div>
      <div class="left aligned description">

        <p><%= fileupload.description %></p>
      </div>
    </div>

    <div class="extra content">
      <div class="left floated">
        <% if user_signed_in? %>
          <%= link_to "Edit file", edit_fileupload_path(fileupload), class: "ui inverted violet button" %>
          <%= link_to "Delete", fileupload_path(fileupload), method: :delete ,data: { confirm: "Are you sure you wish to delete this fileupload?"}, class: "ui inverted violet button" %>
        <% end %>

        <% if fileupload.upload.attached? %>
          <%= link_to "Get source", fileupload.upload, class: "ui inverted violet button", download:true %>
        <% end %>

      </div>

      <span class="right floated">
        <%= fileupload.created_at.strftime('%I:%M %p, %b %d ,%Y') %>
      </span>
    </div>
  </div>

  <% end -%>  

  </div>
</div>






