<%= form_for @fileupload, :html => {:multipart => true} do |f| %>

	<% if @fileupload.errors.any? %>
	<h2><%= pluralize(@fileupload.errors.count, "error") %> Prevented file from uploading:</h2>
	<ul>
		<% @fileupload.errors.full_messages.each do |msg| %>
			<li><%= msg %></li>
		<% end %>
	</ul>
	<% end %>
	<%= f.label :section, :class => 'text-box' %><br>
	<%= f.text_field :section, :class => 'form-box' %><br>

	<%= f.label :title, :class => 'text-box' %><br>
	<%= f.text_field :title, :class => 'form-box' %><br>

	<%= f.label :description, :class => 'text-box' %><br>
	<%= f.text_area :description, :class => 'form-description-box' %><br>

	<%= f.label :source, :class => 'text-box' %><br>
	<%= f.file_field :source %><br>


	<%= f.submit 'Upload', class: "btn btn-warning" %>

<% end %>