<div class="container">	
	<div class="container">	
	<% @fileuploads.each_slice(3) do |slice| %>
		<div class="row">
			<% slice.each do |fileupload| %>
				
				<div class="col-md-4 text-box">
					<br><br>
					<h3><%= fileupload.section %></h3>

					<br><br>

					<div><%= fileupload.title %></div>

					<br>

					<div><%= fileupload.description %></div>

					<br>

					<%= link_to "View source", fileupload_url, class: "btn btn-warning" %>

					<br>

					<%= link_to "Edit file", edit_fileupload_path(fileupload) %>

					<%= link_to "Delete", fileupload_path(fileupload), method: :delete, data: { confirm: "Are you sure you wish to delete this post?"} %>
				</div>

			<% end -%>
		</div>
	<% end -%>
	<%= will_paginate @fileuploads %>
</div>



