<!DOCTYPE html>
<html>
<head>
	<title>BreeDurbin.me</title>
	<meta charset="utf-8">
	<meta name="from zero to space this website is space" content="from zero to space this website is space">

	<%= stylesheet_link_tag "application", media: 'all', 'data-turbolinks-track' => true %>
  <!-- Latest compiled and minified JavaScript -->
  <%= javascript_include_tag "application", 'data-turbolinks-track' => true %>
	<%= csrf_meta_tags %>

</head>
  <body>


    

    <!-- /.notices from "devises" gem. See readme file. -->
    <% if alert %>
      <p class="notice"><%= notice %></p>
    <% elsif alert %>
      <p class="alert"><%= alert %></p>
    <% end %>




    <%= yield %>
      
      


  </body>

</html>
